.git
.gitignore
.gitattributes
.gradle
build

.idea
.vscode
*.iml
*.ipr
*.iws

*.log
logs
.env
.env.*

Dockerfile*
docker-compose*.yml
docker-compose*.yaml
compose*.yml
compose*.yaml

HELP.md
README.md
